/* CSS SELECTS HTML */

* {
    border: 1px solid black;
}

p {
    color: salmon
}

span {
    color: blue
}


/* Whatever comes last in this style sheet gets applied.
But only if your 'level of specificity' is the same. CSS hierarchy
STYLE WITH CLASSES
DOM = is it on the page. Datastructure. Tree structure
*/
.awesome, .woot{
    color: green;
    font-size: 50px;
}

p{
    color: red
}

.block {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
}